<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengdi.keepsheep.mapper.FAuthorizeMapper" >
  <resultMap id="BaseResultMap" type="com.fengdi.keepsheep.bean.FAuthorize" >
    <id column="authorize_no" property="authorizeNo" jdbcType="BIGINT" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="super_authorize_no" property="superAuthorizeNo" jdbcType="BIGINT" />
    <result column="resourcekey" property="resourcekey" jdbcType="VARCHAR" />
    <result column="resource_level" property="resourceLevel" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="levelkey" property="levelkey" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    authorize_no, id, super_authorize_no, resourcekey, resource_level, remark, sort, 
    levelkey, del_flag, create_time, update_time
  </sql>

  <select id="selectAuthByFirst" resultMap="BaseResultMap" parameterType="java.util.List">
    SELECT  <include refid="Base_Column_List" />
    FROM f_authorize
    WHERE authorize_no IN
    <foreach collection="array" index="index" item="item"
             open="(" separator="," close=")">
      #{item}
    </foreach>
    AND super_authorize_no='0'
  </select>

  <select id="selectList" parameterType="java.util.List" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />
    FROM f_authorize
    WHERE authorize_no IN
    <foreach collection="array" index="index" item="item"
             open="(" separator="," close=")">
      #{item}
    </foreach>
    AND super_authorize_no='0'
  </select>

  <select id="selectFirst" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM f_authorize
    WHERE super_authorize_no='0'
  </select>

  <select id="selectListAuth" parameterType="java.util.List" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />
    FROM f_authorize
    WHERE authorize_no IN
    <foreach collection="array" index="index" item="item"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="selectListAuthBySuper" parameterType="java.util.List" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" />
    FROM f_authorize
    WHERE super_authorize_no IN
    <foreach collection="array" index="index" item="item"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="selectAuthBySecond" resultMap="BaseResultMap" parameterType="string">
    SELECT <include refid="Base_Column_List" />
    FROM f_authorize
    WHERE super_authorize_no=#{superAuthorizeNo}
  </select>

</mapper>