<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengdi.keepsheep.mapper.FPictureMapper" >
  <resultMap id="BaseResultMap" type="com.fengdi.keepsheep.bean.FPicture" >
    <id column="picture_no" property="pictureNo" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="picture_name" property="pictureName" jdbcType="VARCHAR" />
    <result column="picture_text" property="pictureText" jdbcType="VARCHAR" />
    <result column="picture_area" property="pictureArea" jdbcType="INTEGER" />
    <result column="picture_type" property="pictureType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="group_cnname" property="groupCnname" jdbcType="VARCHAR" />
    <result column="admin_group_no" property="adminGroupNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fengdi.keepsheep.bean.FPicture" extends="BaseResultMap" >
    <result column="picture_img" property="pictureImg" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    picture_no, id, picture_name, picture_text, picture_area, picture_type, status, group_cnname, 
    admin_group_no, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    picture_img
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.fengdi.keepsheep.bean.FPictureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from f_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fengdi.keepsheep.bean.FPictureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from f_picture
    where picture_no = #{pictureNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from f_picture
    where picture_no = #{pictureNo,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fengdi.keepsheep.bean.FPictureExample" >
    delete from f_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fengdi.keepsheep.bean.FPicture" >
    insert into f_picture (picture_no, id, picture_name, 
      picture_text, picture_area, picture_type, 
      status, group_cnname, admin_group_no, 
      create_time, update_time, picture_img
      )
    values (#{pictureNo,jdbcType=INTEGER}, #{id,jdbcType=BIGINT}, #{pictureName,jdbcType=VARCHAR}, 
      #{pictureText,jdbcType=VARCHAR}, #{pictureArea,jdbcType=INTEGER}, #{pictureType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{groupCnname,jdbcType=VARCHAR}, #{adminGroupNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{pictureImg,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fengdi.keepsheep.bean.FPicture" >
    insert into f_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pictureNo != null" >
        picture_no,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="pictureName != null" >
        picture_name,
      </if>
      <if test="pictureText != null" >
        picture_text,
      </if>
      <if test="pictureArea != null" >
        picture_area,
      </if>
      <if test="pictureType != null" >
        picture_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="groupCnname != null" >
        group_cnname,
      </if>
      <if test="adminGroupNo != null" >
        admin_group_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="pictureImg != null" >
        picture_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pictureNo != null" >
        #{pictureNo,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pictureName != null" >
        #{pictureName,jdbcType=VARCHAR},
      </if>
      <if test="pictureText != null" >
        #{pictureText,jdbcType=VARCHAR},
      </if>
      <if test="pictureArea != null" >
        #{pictureArea,jdbcType=INTEGER},
      </if>
      <if test="pictureType != null" >
        #{pictureType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="groupCnname != null" >
        #{groupCnname,jdbcType=VARCHAR},
      </if>
      <if test="adminGroupNo != null" >
        #{adminGroupNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pictureImg != null" >
        #{pictureImg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fengdi.keepsheep.bean.FPictureExample" resultType="java.lang.Integer" >
    select count(*) from f_picture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update f_picture
    <set >
      <if test="record.pictureNo != null" >
        picture_no = #{record.pictureNo,jdbcType=INTEGER},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.pictureName != null" >
        picture_name = #{record.pictureName,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureText != null" >
        picture_text = #{record.pictureText,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureArea != null" >
        picture_area = #{record.pictureArea,jdbcType=INTEGER},
      </if>
      <if test="record.pictureType != null" >
        picture_type = #{record.pictureType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.groupCnname != null" >
        group_cnname = #{record.groupCnname,jdbcType=VARCHAR},
      </if>
      <if test="record.adminGroupNo != null" >
        admin_group_no = #{record.adminGroupNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pictureImg != null" >
        picture_img = #{record.pictureImg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update f_picture
    set picture_no = #{record.pictureNo,jdbcType=INTEGER},
      id = #{record.id,jdbcType=BIGINT},
      picture_name = #{record.pictureName,jdbcType=VARCHAR},
      picture_text = #{record.pictureText,jdbcType=VARCHAR},
      picture_area = #{record.pictureArea,jdbcType=INTEGER},
      picture_type = #{record.pictureType,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      group_cnname = #{record.groupCnname,jdbcType=VARCHAR},
      admin_group_no = #{record.adminGroupNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      picture_img = #{record.pictureImg,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update f_picture
    set picture_no = #{record.pictureNo,jdbcType=INTEGER},
      id = #{record.id,jdbcType=BIGINT},
      picture_name = #{record.pictureName,jdbcType=VARCHAR},
      picture_text = #{record.pictureText,jdbcType=VARCHAR},
      picture_area = #{record.pictureArea,jdbcType=INTEGER},
      picture_type = #{record.pictureType,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      group_cnname = #{record.groupCnname,jdbcType=VARCHAR},
      admin_group_no = #{record.adminGroupNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengdi.keepsheep.bean.FPicture" >
    update f_picture
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="pictureName != null" >
        picture_name = #{pictureName,jdbcType=VARCHAR},
      </if>
      <if test="pictureText != null" >
        picture_text = #{pictureText,jdbcType=VARCHAR},
      </if>
      <if test="pictureArea != null" >
        picture_area = #{pictureArea,jdbcType=INTEGER},
      </if>
      <if test="pictureType != null" >
        picture_type = #{pictureType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="groupCnname != null" >
        group_cnname = #{groupCnname,jdbcType=VARCHAR},
      </if>
      <if test="adminGroupNo != null" >
        admin_group_no = #{adminGroupNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pictureImg != null" >
        picture_img = #{pictureImg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where picture_no = #{pictureNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fengdi.keepsheep.bean.FPicture" >
    update f_picture
    set id = #{id,jdbcType=BIGINT},
      picture_name = #{pictureName,jdbcType=VARCHAR},
      picture_text = #{pictureText,jdbcType=VARCHAR},
      picture_area = #{pictureArea,jdbcType=INTEGER},
      picture_type = #{pictureType,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      group_cnname = #{groupCnname,jdbcType=VARCHAR},
      admin_group_no = #{adminGroupNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      picture_img = #{pictureImg,jdbcType=LONGVARCHAR}
    where picture_no = #{pictureNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengdi.keepsheep.bean.FPicture" >
    update f_picture
    set id = #{id,jdbcType=BIGINT},
      picture_name = #{pictureName,jdbcType=VARCHAR},
      picture_text = #{pictureText,jdbcType=VARCHAR},
      picture_area = #{pictureArea,jdbcType=INTEGER},
      picture_type = #{pictureType,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      group_cnname = #{groupCnname,jdbcType=VARCHAR},
      admin_group_no = #{adminGroupNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where picture_no = #{pictureNo,jdbcType=INTEGER}
  </update>
</mapper>